
.workSection{
    height: 950px;
    background-image: url('/images/sun.jpg');
    background-size: cover;

}



.work-section {
	max-width: 960px;
	margin:0 auto;
	padding:6% 2%;
}

.work-grid {
    display: flex;
    position: absolute;
    vertical-align: center;
	margin: 150px 0 0 0;
	padding: 0;
	list-style: none;
	
	text-align: center;
	width: 100%;
}

.work-grid:after {
	clear: both;
}

.work-grid:after,
.work-box:before {
	content: '';
    display: table;
}

.work-grid li {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
}
.work-grid2 {
    display: flex;
    position: absolute;
    vertical-align: center;
	margin: 450px 0 0 0;
	padding: 0;
	list-style: none;
	text-align: center;
	width: 100%;
}

.work-grid2:after {
	clear: both;
}

.work-grid2:after,
.work-box:before {
	content: '';
    display: table;
}

.work-grid2 li {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
}


.work-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out, ;
}

.work-box:hover {
	transform: scale(1.05);
}

.work-img-1 {
 background:
    linear-gradient(
      rgba(241, 15, 15, 0.5),
      rgba(0, 0, 0, 0.10)
    ),
    /* bottom, image */
    url('/images/benton.png');
}

.work-img-2 {
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    
    /* bottom, image */
    url('/images/49cbaf3b-8b47-44d2-afec-c6a7aabddf3c.png') no-repeat;
   background-position: center;
}

.work-img-3 {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.10)
    ),
    
    /* bottom, image */
    url('/images/Screen\ Shot\ 2020-02-15\ at\ 11.07.06\ AM.png') no-repeat;
   background-position: center;
   background-size: cover;
}

.work-img-4 {
    background:
       linear-gradient(
         rgba(0, 0, 0, 0.50),
         rgba(0, 0, 0, 0.10)
       ),
       /* bottom, image */
       url('/images/StarSocial.png');
}
.work-img-5 {
    background:
       linear-gradient(
         rgba(0, 0, 0, 0.50),
         rgba(0, 0, 0, 0.10)
       ),
       /* bottom, image */
       url('/images/Simpsons.png');
}
.work-img-6 {
    background:
       linear-gradient(
         rgba(0, 0, 0, 0.50),
         rgba(0, 0, 0, 0.10)
       ),
       /* bottom, image */
       url('/images/screen.png');
       background-image: cover;
       padding-top: 60px;
}
.work-img-7 {
    background:
       linear-gradient(
         rgba(0, 0, 0, 0.50),
         rgba(0, 0, 0, 0.10)
       ),
       /* bottom, image */
       url('/images/assorted-title-books-on-brown-wooden-shelf-1517355.jpg');
      
       background-size: cover;
}

.work-img-8 {
    background:
       linear-gradient(
         rgba(0, 0, 0, 0.50),
         rgba(0, 0, 0, 0.10)
       ),
       /* bottom, image */
       url('/images/space-shuttle-launch-during-nighttime-796206.jpg');
      
       background-size: cover;
}





.work-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

.header h1 {
    font-family: 'Caveat Brush', cursive;
    font-weight: 400;
	color: #fff;
	font-size: 42px;
	text-align: center;
	padding: 100px 0 0 0;
    line-height:1.5;

}


.work-info h3 {
    font-family: 'Caveat Brush', cursive;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px .5px #000;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
    line-height:1.5;

}

.work-info p {
    font-family: 'Caveat Brush', cursive;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 15px;
	line-height:2;
}
.work-info button {
    border-radius: 25px;
    color: #66a3ff;
}

@media screen and (max-width: 768px){
    .workSection{
    background-image: url('/images/sun.jpg');
    height: 150vh;
    width: 190vw ;
    margin-left:-140px;
    }
    .work-section {
        max-width: 790px;
        width:100%;
        margin-left:150px;
    
	    
    }
    
    .work-box{
        height: 100px ;
        width: 100px;
        margin-left: 5px;
    }
    .work-box li{
        display: inline-block;
        margin-left: 40px;
    }
   
}