.form {

    width: 500px;
    padding-top: 100px;

}
.contact-right{
    margin-top:250px;
}

.contact-right h4{
    font-family: 'Inknut Antiqua', serif;
    color: whitesmoke;
    text-shadow: 2px 2px 1px #000;
    font-size: 125%;
}
.contact_form_button {
    margin-left: 200px;
    font-size: 150%;
    border-radius: 25PX;
    color: #4d4dff;
}
.cbutton {
    color: #4d4dff;
    border-radius: 25px;
}

@media screen and (max-width: 768px){
    #contactSection{
    background-image: url('../../assets/images/bridge.png');
    height: 50%;
    width: 170vw ;
   
    }
    .contact-right{
        margin-top:-50px;
        display: flex;
        justify-content: center;
    }
   
}