#about {
    position: relative;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/cosmos-dark.jpg');
    top: 0;
    background-size: cover;
}



.headshot{
    width: 150%;
    margin: center;
    padding-top: 20px;
    margin-left:-50px;
}
.about-right {
    padding-top: 150px;
    margin-left: 150px;
    width: 600px;
}
.engineer-text {
    padding-left: 100px;
    text-shadow: 2px 2px 1px #000;
}
.about-right h1 {
    font-family:  'rust';
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px #000;
    font-size: 450%;
}
.about-right p {
    font-family:  'Inknut Antiqua', serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px #000;
    font-size: 125%;
}

.icons {
   margin-left: 80px;
   margin-top: -110px;
   color: #fff;
}
.icons a + a {
    padding-left: 3em;
}
@media screen and (max-width: 768px){
    #about{
    height: 100vh;
    width: 100vw;
}
    .headshot{
        width: 80%;
        
    }
    .icons{
        margin-left: 40px;
    }
    
}