.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    background: transparent;

    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline:none
}

.line {
    width: 40px;
    height: 3px;
    background-color:skyblue;
    transition: all .4s ease-in-out;
}