@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:700');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:700|Inknut+Antiqua');
@font-face {
    font-family: 'rust';
    src: url('/public/fonts/rustico-regular.woff2') format('woff2'),
         url('/public/fonts/rustico-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.navbar {
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    overflow: hidden;
    top: 50px;
    left: 50px;
    margin: 0;
    opacity: 1;
    z-index: 99;
}

.navbar a {
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-family: 'rust'!important;
    display: inline-block;
    width: 200px;
    height: 40px;
    color:#fff;
    opacity: 1;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    transition: all .4s ease-in-out;

}

@media (max-width: 768px){
    .navbar ul{
        display:none
    }
}
@media (min-width: 769px){
    .toggle-btn {
        display:none
    }
}


